/*/////// Font Family Style Import //////////*/
@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: #eceae7;
}

img {
  width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

/*///////////////// Header ///////////////*/

.header {
  width: 100%;
}

.header .container {
  position: relative;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 91px;
  padding: 0.5em 0;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo img {
  width: 102px;
}

header p {
  font-family: sans-serif;
  font-size: 1.45em;

  margin-left: 4.9em;
  color: rgb(88, 88, 88);
}

.facilites {
  margin-right: 2.6em;
  margin-bottom: 0.2em;
  padding: 0;
  display: flex;
}

.facilites a {
  padding: 0.1em 0.2em;

  text-decoration: none;
  color: rgba(0, 55, 138, 0.897);

  font-size: 0.9em;
  font-weight: 300;
  font-family: serif;
}

.facilites .header-links span {
  font-size: 1.7em;

  color: rgb(102, 101, 101);
  padding: 0.1em 0.3em 0.1em 0;
}

.facilites input {
  font-size: 0.8em;
  width: 265px;
  height: 35px;
  margin-left: 0.7em;
  padding: 0.8em;

  border: 1px rgb(167, 165, 165) solid;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.facilites input:focus {
  outline: none;
  border: 1px solid rgb(71, 125, 177);
  box-shadow: 0 0 2px 2px rgba(80, 144, 204, 0.377);
}

.facilites button {
  font-size: 1.45em;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 0.4em;
  padding: 0.1em;

  background-color: inherit;

  border: 1px rgb(141, 140, 140) solid;
  border-left: none;
  color: rgb(128, 126, 126);

  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.facilites button:hover,
.facilites .header-links:hover {
  background-color: rgba(0, 55, 138, 0.144);
}
/*///////////////// End Header ///////////////*/

/*///////////////// Navigation Menu ///////////////*/

.mobile {
  display: none;
}

.nav-bar {
  background-color: rgba(55, 52, 51, 0.891);
  height: 43px;
  width: 100%;
  line-height: 1.5;
  position: absolute;
  top: 50px;
}

.nav-bar .container {
  position: relative;
}

.nav-bar ul {
  margin-left: 6em;
  position: inherit;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  list-style-type: none;
}

.nav-bar ul li {
  font-size: 1.1rem;

  color: #fff;
  cursor: pointer;

  height: fit-content;

  margin-right: 0.7em;
}

.nav-bar ul li .header-links {
  padding: 0.64em;
}

.nav-bar ul li a {
  font-size: 0.7em;
  font-family: sans-serif;
  font-weight: 100;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
}

.nav-bar ul li .header-links:hover {
  background-color: black;
}

.nav-bar ul li .icon {
  margin-right: 0.7em;
}

.nav-bar ul li .icon .fa-home,
.nav-bar ul li .icon img {
  width: 30px;
  height: 22px;
}

.nav-bar ul li .web img {
  width: 25px;
}

/*///////////////// End Navigation Menu ///////////////*/

/*///////////////// Main Section Styles ///////////////*/
main .container {
  background-color: #fff;
  box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.041);
}

.trending {
  background-repeat: no-repeat;
  background-position: 10%, 10%;
  background-size: 100% 100%;

  height: 380px;
  width: 100%;

  /* padding-left: em; */
  padding-top: 6em;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  position: relative;
}

.trending .trending-link {
  width: 84%;
  height: fit-content;
  background-color: rgba(41, 41, 41, 0.918);
  color: #fff;
  position: absolute;
  padding: 1.5em;
  top: 19.5rem;
}

.trending .trending-link h2 {
  margin: 0 0 0.5em;
}

.trending .trending-link h2 a {
  color: #fff;

  font-size: 1.4em;
  font-weight: 600;
  font-family: sans-serif;
}

.trending .trending-link p {
  padding-bottom: 1.8em;
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

/*///////////// Feature Section Style /////////////*/
.featured {
  width: 89%;
  margin: 0 auto;
  padding: 8.5em 0.1em 0;
  letter-spacing: 0.1em;
}

.featured-items {
  margin-top: 0;
}
/*///////////// End Feature Section Style /////////////*/

/*///////////////// Call To Action Styling /////////////////// */
.cta {
  display: flex;

  position: relative;

  margin: 5em 0 0;
  padding: 0;

  height: fit-content;

  border-bottom: 1px solid rgba(55, 52, 51, 0.267);
}

.whats-new {
  width: fit-content;

  margin: 0;
  margin-left: 2.6em;
}

.whats-new p {
  font-size: 1.5em;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;

  color: rgb(133, 133, 133);
}

.whats-new button {
  margin: 1em 0 0;
}

.read-bible {
  margin: 0;
  width: fit-content;
  display: flex;

  margin: 1em 0 0;
}

.read-bible::after {
  content: "";
  height: 60%;

  width: 1px;
  background-color: rgb(212, 212, 212);
}

.read-bible img {
  margin: 0;
  width: 50%;
  height: 55%;
}

.read-text {
  padding: 0 0.5em 0 1em;
  margin-right: 1.5em;
}

.read-text p {
  font-size: 1em;
  font-family: sans-serif;
  font-weight: 400;

  padding: 0.4em 1em 0.4em 0;
  line-height: 1.5;
}
/*///////////////// End Call To Action Styling /////////////////// */

/*///////////////// Topics of Interest Styling /////////////////// */
.topics {
  margin: 1em 0;
}
.topic {
  height: 120px;
  padding: 1rem;
  position: relative;

  background-position: 100% 10%;
  background-repeat: no-repeat;
  background-size: 100% 115%;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.topic h3 {
  font-size: 1.2em;
  font-family: serif;
  font-weight: 100;

  color: #fff;

  z-index: 10;
}

.topics .grid-3 a {
  color: #fff;
}

/* .topic */
.overlay {
  position: absolute;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.678) 10%,
    rgba(255, 255, 255, 0.021) 90%
  );
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.topics-cta {
  width: 99%;
  margin: 1.5em auto 0;
}

.topics-cta .online-bs-text .primary-links {
  color: rgb(63, 111, 184);
}

.topics-cta .img {
  width: 100%;
  text-align: center;
}

.topics-cta .img img {
  border-radius: 50%;

  width: 70%;
}

.online-bs-text {
  text-align: center;
  margin: 1.3em 0 0;
}

.online-bs-text p {
  font-size: 1em;
  font-family: sans-serif;
  font-weight: 100;
  padding: 1rem 0 0.5rem;
  line-height: 1.5;
}
/*///////////////// End Topics of Interest Styling /////////////////// */
.videos .flex {
  justify-content: space-between;
  align-items: center;
}

.videos .trending {
  background-repeat: no-repeat;
  background-position: 55% 1%;
  background-size: 110% 148%;
}

.videos .trending .trending-link {
  width: 84%;
  background-color: #f2f2f2ef;
  color: #000;
}

.videos .trending .trending-link h2 a {
  color: #000;
}

.videos .featured-items {
  margin-top: 12rem;
}

.more-videos {
  padding: 0 0 2em;
  border-bottom: 1px solid rgba(55, 52, 51, 0.267);

  overflow-x: hidden;
}

.more-videos .featured-item .img {
  position: relative;
}

.more-videos .featured-item .img img {
  width: 100%;
  height: 100%;
}

.more-videos .featured-item .img::after {
  content: "";
  background: url("../images/icons/play-button.png") no-repeat;
  background-size: 50%;
  background-position: center;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 0.2em;
  left: 0.05em;
  background-color: rgba(0, 0, 0, 0.76);
  color: #fff;
}
/*///////////////// Videos Section Styling /////////////////// */

/*///////////////// End Videos Section Styling /////////////////// */
/* .about-jws-container {

} */

.about-jws {
  margin-top: 1.5rem;
}

.about-jws-container h1 {
  font-size: 2.5405938038em;
  font-weight: 600;
  font-family: sans-serif;

  margin-bottom: 0.25em;
}

.about {
  width: 72%;
  margin-right: 1.5rem;
}

.about p {
  font-size: 1.1em;
  font-family: NotoSans, Arial, "Arial Unicode MS", sans-serif;
  font-weight: 100;

  line-height: 1.6;

  margin-bottom: 1em;
  padding-right: 0.6rem;
}

.about-links a div {
  margin: 1em 0;
}

/*////////////////// Footer Section Styling //////////////////*/
footer {
  width: 100%;
  font-family: NotoSans, Arial, "Arial Unicode MS", sans-serif;
  font-size: 0.8298755187em;
}

footer .container {
  background-color: #f0f0f0;

  padding: 0 3em;
}

footer .container .present {
  background-color: #f0f0f0;

  padding: 3.5em 0 0;
}

footer .container .flex {
  margin: 1.5em 0 0;
}

footer .container .flex .footer-links ul {
  margin-right: 2em;
}

footer .container .flex .footer-links ul li {
  margin: 0.6em 0;
}

footer .container .flex .footer-links ul li a {
  line-height: 1.25;
}

footer .p-links .flex {
  align-items: flex-end;
  width: fit-content;
}

footer .p-links .flex .icon img {
  margin: 0 0.9em;
}

.support .flex-col li,
.applications .flex-col li {
  margin: 0.5em;
}

.copyright .container {
  background-color: rgb(55, 52, 51);
  justify-content: center;
  align-items: center;

  height: 55px;
}

.copyright .container .flex {
  margin: 0 0.5em 0.5em;
}

.copyright .container .flex a {
  color: #c2d1ec;
  padding: 0 0.5em;
}

.copyright .container .flex p {
  color: #fff;
}
/*////////////////// End Footer Section Styling //////////////////*/

/*///////////////// End Main Section Styles ///////////////*/
