.container {
  max-width: 1400px;

  width: 1141px;
  margin: auto;
}

.btn {
  background-color: rgb(74, 109, 167);
  color: #fff;
  padding: 0.4em 0.5em;
  font-size: 1.15em;
  font-weight: 100;
  font-family: sans-serif;
  border: none;
}

.icon img {
  width: 1.7em;
  color: #fff;
  padding-right: 0.2em;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  margin: 2.5em 0;
}

.title {
  font-family: sans-serif;
  font-size: 1.7em;
  font-weight: 900;

  margin: 1em 0;
}

.primary-links {
  color: rgb(63, 111, 184);

  font-family: "Roboto-Thin";
  font-size: 2em;
  margin: 5em 0;
}

.secondary-links {
  color: rgb(63, 111, 184);
  font-size: 1.7em;
  margin: 5em 0;
}

.p-links {
  color: rgb(63, 111, 184);
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
