.container {
  max-width: 1400px;
  min-width: 890px;
  width: 83%;
  margin: 0 auto;
}

.btn {
  background-color: rgb(74, 109, 167);
  color: #fff;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: sans-serif;
  border: none;
}

.big-btn {
  background-color: rgb(74, 109, 167);
  color: #fff;
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: 100;
  font-family: sans-serif;
  border: none;
}

.btn:hover,
.big-btn:hover {
  background-color: rgb(54, 84, 133);
}

.icon img {
  width: 1.7em;
  color: #fff;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  margin: 2.5em 0;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
  margin: 2.5em 0;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 900;

  margin: 1em 0;
}

.primary-links {
  color: rgb(46, 98, 175);

  font-family: sans-serif;
  font-size: 1.5rem;
  margin: 5em 0;
}

.secondary-links {
  color: #4a6da7;
  font-size: 1.2rem;
  font-family: NotoSans, Arial, "Arial Unicode MS", sans-serif;
  /*   margin: 5em 0; */
}

.p-links {
  color: rgb(46, 105, 194);
  font-weight: 500;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  padding: 0.1em 0.6em;

  border-radius: 3px;
}
